* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;

}

body {
    overflow-x: hidden;
    max-width: 100vw;
    overflow-y: scroll;
}

.nav {
    background-color: rgb(255, 255, 255);
    width: 98.8vw;
    padding-top: 16px;
    border-bottom: 2px solid rgb(184, 180, 180);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
}

.asianlogo img {
    width: 120px;
}

.center {
    display: flex;
    font-family: sans-serif;
    gap: 42px;
    padding-top: 13px;
}

.navtext1,
.navtext2,
.navtext3,
.navtext4 {
    cursor: pointer;
}

.right img {
    width: 20px;
    cursor: pointer;
}

.left {
    padding-right: 21px;
}

.right {
    display: flex;
    padding-right: 33px;
    flex-wrap: wrap;
    gap: 34px;
    padding-top: 13px;
}


.container1 img {
    width: 100%;
    cursor: pointer;
}

.container2 {
    margin-top: 42px;
}

.container2-1 {
    display: flex;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    justify-content: center;

}

.container2-2 {
    display: flex;
    justify-content: center;

}

.container2-2 img {
    width: 320px;
    border-radius: 3%;
    margin-left: 10px;
}

.container3-2 {
    text-align: center;
}

.container3 {
    margin-top: 42px;
    padding-top: 22px;
}

.container3-1 {
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;
    justify-content: center;
}

.container3-2 {
    padding-bottom: 20px;
    font-size: small;
    color: gray;
    font-family: sans-serif;
}

.container2img {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container2img img {
    cursor: pointer;
}

.container3-3 img {
    width: 180px;
    border-radius: 3%;
    cursor: pointer;
    margin-left: 10px;
}

.box4 {
    width: 190px;
    height: 254px;
    border-radius: 3%;
    cursor: pointer;
    background-color: rgba(138, 135, 135, 0.247);
    font-family: sans-serif;
    font-size: 12px;
    gap: 22px;
    font-weight: 700;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container4 {
    display: flex;
    justify-content: center;
    margin-top: 52px;
}

.button1 {
    cursor: pointer;
    display: flex;
    border: 1px solid;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 14px;
    gap: 20px;
    border-radius: 42px;
}


.arrow {
    width: 15px;
}

#container2img img {
    width: 230px;
    cursor: pointer;
}

.container5 {
    background-color: rgba(201, 199, 199, 0.164);
    padding-top: 22px;
    margin-top: 75px;
    padding-bottom: 33px;

}

.container5-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

.heading2 {
    font-size: 20px;
    font-weight: 700;
}

.subheading1 {
    font-size: small;
    color: rgba(56, 55, 55, 0.829);
}

.logos {
    display: flex;
    gap: 120px;
    margin-top: 22px;
    justify-content: center;
}

.logostext {
    display: flex;
    width: 60%;
    margin: auto;
    column-gap: 40px;
    text-align: center;
}

.logo2 {
    padding-left: 12px;
}

.logo1 {
    padding-left: 57px;
}

.container6-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container6 {
    margin-top: 64px;
}

.container6-2 {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    gap: 22px;
}

.dabba {
    width: 275px;
    height: 120px;
    display: flex;
    margin-top: 22px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(201, 199, 199, 0.164);
}

.dabbalogo img {
    width: 80px;
    padding-left: 10px;
}

.dabba1-1 {
    padding-right: 10px;
}

.dabba1-2 {
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    border-left: 1px solid rgba(128, 128, 128, 0.753);
}

.container6-2 {
    display: flex;
    gap: 22px;
    max-width: fit-content;
    margin: auto;
    flex-wrap: wrap;
}




.rating {
    display: flex;
    padding-left: 50px;
    position: relative;
    bottom: 12px;
}

.big {
    font-size: 35px;
}

.small {
    padding-top: 19px;
    font-weight: 600;
}

.star img {
    width: 20px;
}

.star {
    padding-left: 22px;
}

.ratings {
    padding-left: 42px;
    font-size: small;
    color: rgba(56, 55, 55, 0.829);
}

.container7 {
    margin-top: 81px;
}

.container7-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container7-2 {
    justify-content: center;
    display: flex;
    margin-top: 23px;
    flex-wrap: wrap;
    align-items: center;
}

.con7box1 img {
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.con7box2 {
    background-color: rgba(201, 199, 199, 0.164);
    width: 450px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 600px;
}

.text {
    text-align: center;
}

.con7box2-logo img {
    padding-left: 70px;
    margin-bottom: 23px;

}

.line1,
.line2,
.line3 {
    font-size: small;
    padding-bottom: 4px;
}

.line2 {
    color: rgb(0, 162, 255);
    font-size: 14px;
    cursor: pointer;
}


.container8-1 {
    margin-bottom: 33px;
}

.shoes img {
    width: 220px;
    z-index: -1;
    cursor: pointer;
    filter: brightness(.96);
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    border-radius: 5px;
    background-color: white;
    width: 220px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    height: 324px;
}

.productdetail {
    display: flex;
    gap: 12px;
    padding-left: 19px;
    padding-top: 12px;
}

.productname {
    padding-left: 19px;
    font-size: 15px;
    padding-top: 20px;
    font-weight: 600;
}

.price {
    font-weight: 600;

}

.realprice {
    font-size: small;
    padding-top: 3px;
    color: gray;
    text-decoration: line-through;
}

.sale {
    color: red;
    font-size: small;
    padding-top: 2px;
    font-weight: 600;
}

.container8 {
    display: flex;
    align-items: center;
    margin-top: 73px;
    flex-direction: column;
}

.productad {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card3,
.card1,
.card5,
.card2,
.card4 {
    position: relative;
}

.container8-2 {
    margin-bottom: 32px;
}

.best img {
    position: absolute;
    left: -1px;
    z-index: 1;
    bottom: 290px;
    width: 120px;
}

.container9 {
    display: flex;
    justify-content: center;
}

.btn {
    border: 1px solid;
    padding: 15px 32px;
    margin-bottom: 32px;
    cursor: pointer;
    border-radius: 52px;
}


.container10 {
    background-color: #212121;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ytvideo iframe {
    width: 100vw;
    height: 100vh;
    margin-top: 72px;
}

.smallbox {
    left: 17px;
    border: none;
    border-radius: 44px;
    padding: 5px 7px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 10px;
    gap: 4px;
    bottom: 290px;
    position: absolute;
    display: flex;
}

.like {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 6px;
    left: 165px;
    top: 202px;
    width: 26px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .1px 30px rgba(0, 0, 0, 0.125);
}

.heart img {
    width: 22px;
}

.zero {
    font-weight: 600;
}

.zero2 {
    color: rgba(87, 87, 87, 0.575);
}

.smallstar img {
    border-right: 1px solid rgba(87, 87, 87, 0.575);
    padding-right: 6px;
    width: 10px;
}

.container10-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid rgba(172, 166, 166, 0.575);
    width: 100vw;
    margin: auto;
    padding-bottom: 33px;
}

.first {
    gap: 23px;
    color: white;
    display: flex;
    padding-top: 72px;
    width: 500px;
    flex-direction: column;
}

.footerasianlogo img {
    width: 120px;
}

.otherlogo {
    display: flex;
    gap: 23px;
}

.about {
    line-height: 25px;
    font-size: medium;
}

.otherlogo img {
    width: 27px;
    cursor: pointer;
    fill: white;
}

.container10-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.support {
    gap: 30px;
    display: flex;
    padding-bottom: 33px;
    padding-left: 52px;
    color: white;
}

.number {
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 4px;
}

.phonelogo {
    cursor: pointer;
}

.comment {
    font-size: 12px;
}

.second {
    padding-top: 82px;
}

.third {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 23px;
}

.quicklinks {
    font-size: larger;
}

.link {
    font-size: 14px;
    cursor: pointer;
}

.container10-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: small;
    gap: 6px;
    padding-top: 33px;
    padding-bottom: 33px;

}

@media screen and (max-width:1000px) {

    .container5-2 {
        display: flex;
        justify-content: center;
    }

    .logos {
        display: flex;
        float: left;
        padding-left: 40px;
        gap: 0;

        flex-direction: column;
    }

    .logos img {
        padding-bottom: 12px;
        width: 60px;
    }

    .logo1,
    .logo2 {
        padding-left: 0;
    }

    .logotext2,
    .logotext3 {
        padding-left: 0px;

    }

    .logostext {
        padding-top: 50px;
        gap: 56px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:700px) {

    .container5-2 {
        display: flex;
        justify-content: center;
    }

    .logos {
        display: flex;
        float: left;
        padding-left: 40px;
        gap: 0;

        flex-direction: column;
    }

    .logos img {
        padding-bottom: 12px;
        width: 60px;
    }

    .logo1,
    .logo2 {
        padding-left: 0;
    }

    .logotext2,
    .logotext3 {
        padding-left: 0px;

    }

    .logostext {
        padding-top: 41px;
        gap: 43px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width:677px) {
    .center {
        font-size: 0px;
    }

    .right {
        display: flex;
        justify-content: center;

    }
}

@media screen and (max-width:467px) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media screen and (max-width:849px) {
    .con7box1 img {
        width: 94vw;
        height: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;


    }

    .con7box2 {
        height: 130px;
    }

}